.bg-c {
    background-color: antiquewhite;
}

.card:hover {
    background-color: cadetblue;
    color: bisque;
}

.b:hover {
    background-color: bisque;
    color: cadetblue;
}

.logo {
    /* position: absolute; */
    height: 100px;
    width: 100px;
    padding: 40 px;

}

.list {
    margin-top: 40px;
    list-style-type: none;
}

.bg-c2 {
    background-color: cadetblue;
}

/* testimonials section css start*/
.testimonial {
    background: linear-gradient(135deg, cadetblue 0%, cadetblue 100%);
}

.testimonial-img {
    width: 100px;
    height: 100px;
    background: gray;
}

.testimonial-img img {
    width: inherit;
    height: inherit;
}

/* testimonial section css end */

.ic{
    color: cadetblue;
    font-size: 27px;
}